img {
  border-radius: 60%;
}
.header {
  display: flex;
  justify-content: space-evenly;
}

.header > div {
}

.exp {
  border-bottom: dotted;
}
.blue,
i {
  color: dodgerblue;
}
.flex-container {
  display: flex;
  justify-content: space-evenly;
}

.container-1,
.container-2 {
  width: 35%;
}

h2,
p {
  padding: 10px;
}

ul.lang {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

h3 {
  padding: 10px;
}

h2.main {
  border-bottom: solid;
}

div.company-details span {
  padding: 10px;
}

ul.lang li {
  border-bottom: dotted;
}

div.contact span {
  padding: 10px;
}

.loc {
  margin-top: 20px;
}
