.App {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

h2.role,
i {
  color: DodgerBlue;
}

img {
  border-radius: 60%;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
}
.grid-item {
  padding: 10px;
  font-size: 15px;
}

header > div {
  padding: 20px;
}
